.header {
  padding: 45px 0;
  .container {
    display: flex;
    justify-content: space-between;
    .logo {
      svg {
        width: 140px;
        height: 12px;
      }
    }
    .box_menu {
      display: flex;
      .header__menu {
        display: flex;
        margin-right: 85px;
        text-transform: uppercase;
        &__item:not(:last-child) {
          margin-right: 45px;
        }
      }
    }
  }
}
// .none {
//   display: none;
// }
// @media screen and (max-width: 700px) {
//   header {
//     .header__menu {
//       width: 100%;
//       background: linear-gradient(#e66465, #9198e5);
//       position: absolute;
//       top: 75px;
//       left: 0;
//       z-index: 2;
//       display: block;

//       &__item {
//         display: block;
//         margin-top: 10px;
//         margin-bottom: 10px;
//         margin-right: 0 !important;
//         text-align: center;
//       }
//     }
//   }
//   .button {
//     display: none;
//   }

//   nav {
//     display: flex;
//     align-items: flex-start;
//   }
// }
// .
/*================*/
// @media (max-width: 700px) {
//   header {
//     display: flex;
//   }
//   #menu-flag + button {
//     display: none;
//   }

//   nav ul {
//     display: flex;
//   }
//   nav ul li:not(:last-child) {
//     margin-right: 10px;
//   }

//   nav button {
//     display: none;
//   }
// }

// nav {
//   display: flex;
//   align-items: flex-start;
// }

/*===========================*/
// nav {
//   display: flex;
//   align-items: flex-start;
// }

/*=================== burger effect=======================*/
// @media (max-width: 700px) {
//   header {
//     display: block;
//   }
//   #menu-flag + button {
//     // display: none;
//   }

//   nav ul {
//     display: flex;
//   }
//   nav ul li:not(:last-child) {
//     margin-right: 10px;
//   }

//   nav button {
//     display: none;
//   }
// }

// @media (max-width: 599px) {
//   #menu-flag:not(:checked) ~ nav {
//     display: none;
//   }
//   #menu-flag:checked + button {
//     display: none;
//   }
// }
/*=================== end burger effect=======================*/

// @media screen and (max-width: 1200px) {
//   .header {
//     .container {
//       .box_menu {
//       }
//       .search {
//         width: 20px;
//         height: 20px;
//       }
//       nav {
//         display: block;
//       }
//     }
//   }
// }

// @media (min-width: 0px) and (max-width: 800px) {
//   .header {
//     .container {
//       .box_menu {
//         display: flex;
//         flex-direction: row-reverse;
//         gap: 40px;
//         .none {
//           display: block;
//         }
//         nav {
//           display: none;
//         }
//       }
//     }
//   }
// }

// .hamburger {
//   border: none;
// }
